$primary-color: #FF7141;

/* Select: Barra gris del select */
.css-1okebmr-indicatorSeparator {
	display: none;
}

.css-tlfecz-indicatorContainer{
	svg{
		transform: scale(1.5);
		margin-right: .5rem;
	}
}

.MyDatePicker{
	position: relative;

	.svg-container{
		position: absolute;
		right: .5rem;
		top: 2.6rem;
		color: $primary-color;
	}
	svg{
		height: 2.4rem;
		margin-right: .3rem;
	}
}








/* List: Countries
**************************/
.MyList{
	margin-top: 3rem;
}
.station:first-child {
	//background-color:red !important;
	border-top: 1px solid #ddd;
	;
}

.station{
	display: flex;
	height: 3rem;
	overflow: hidden;
	align-items: stretch;
	border-bottom: 1px solid #ddd;

	.station--flag {
		height: 3rem;
		width: 3rem;
		display: flex;
		justify-content: center;
		align-items: center;
		img{
			width: 1.5rem;
			height: 1.5rem;
			border-radius: 1rem;
			object-fit: cover;
		}
	}

	.station--name {
		display: flex;
		justify-content: left;
		align-items: center;
		flex-grow: 4;
		padding-left: 1.5rem;
		
	}

	.station--amount {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-grow: 2;
	}
	
}