@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

$roboto: "Roboto",
sans-serif;

// Colores:
$primary-color: #fd7141;
$shadow-1: 0.1rem 0.1rem .5rem 0 #3363;
//$white: white;