@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
body {
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

h1 {
  font-size: 2.1rem;
  font-weight: normal;
  margin-top: 0;
}

label {
  display: block;
  text-align: left;
  margin-top: 2rem;
  margin-bottom: 0.8rem;
  font-size: 1.1rem;
}

.default-input {
  box-shadow: 0.1rem 0.1rem 0.5rem 0 #3363;
  border-radius: 0.5rem;
}

.btn {
  width: 100%;
  height: 3rem;
  display: flex;
  justify-content: center;
  line-height: 1rem;
  padding-top: 0.9rem;
  border-radius: 1.5rem;
  border: none !important;
  background: #FF7141;
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  margin-top: 3rem;
  box-shadow: 0 0.5rem 1rem 0 #f666;
}
.btn.btn-secondary {
  background: white !important;
  color: #FF7141;
  border: 1px solid #FF7141 !important;
}

/* Select
*************************************/
.css-yk16xz-control,
.css-yk16xz-control:hover {
  border: 1px solid #3330;
  border-color: #3330 !important;
  border-radius: 0.5rem !important;
  min-height: 3rem !important;
}

.css-1pahdxg-control {
  border-color: #3330 !important;
  box-shadow: 0 0 0 0 #0000 !important;
}

.css-tj5bde-Svg {
  color: #FD7141;
}

.react-datepicker-wrapper {
  width: 100%;
  box-shadow: 0.1rem 0.1rem 0.5rem 0 #3363;
  border-radius: 0.5rem;
}

.react-datepicker__header {
  background-color: white !important;
}

.react-datepicker__input-container {
  overflow: hidden;
  border-radius: 0.5rem;
}

.react-datepicker__input-container input {
  border-radius: 0.5rem;
  border: none !important;
  width: 100%;
  min-height: 3rem !important;
  padding-left: 1rem;
  color: #888;
  font-size: 1rem;
}

.react-datepicker {
  box-shadow: 0.1rem 0.1rem 0.5rem 0 #3363;
  border: none !important;
}

.react-datepicker-popper[data-placement^=top] .react-datepicker__triangle::before {
  border-top-color: none !important;
  border-bottom-color: none !important;
}

.react-datepicker__day--selected:hover,
.react-datepicker__day--in-selecting-range:hover,
.react-datepicker__day--in-range:hover,
.react-datepicker__month-text--selected:hover,
.react-datepicker__month-text--in-selecting-range:hover,
.react-datepicker__month-text--in-range:hover,
.react-datepicker__quarter-text--selected:hover,
.react-datepicker__quarter-text--in-selecting-range:hover,
.react-datepicker__quarter-text--in-range:hover,
.react-datepicker__year-text--selected:hover,
.react-datepicker__year-text--in-selecting-range:hover,
.react-datepicker__year-text--in-range:hover {
  background-color: #FF7141 !important;
}

.react-datepicker__day--selected,
.react-datepicker__day--in-selecting-range,
.react-datepicker__day--in-range,
.react-datepicker__month-text--selected,
.react-datepicker__month-text--in-selecting-range,
.react-datepicker__month-text--in-range,
.react-datepicker__quarter-text--selected,
.react-datepicker__quarter-text--in-selecting-range,
.react-datepicker__quarter-text--in-range,
.react-datepicker__year-text--selected,
.react-datepicker__year-text--in-selecting-range,
.react-datepicker__year-text--in-range {
  background-color: #FF7141 !important;
}

/* Select: Barra gris del select */
.css-1okebmr-indicatorSeparator {
  display: none;
}

.MyDatePicker {
  position: relative;
}
.MyDatePicker .svg-container {
  position: absolute;
  right: 0.5rem;
  top: 2.8rem;
  color: #FF7141;
}

/* List: Countries
**************************/
.MyList {
  margin-top: 3rem;
}

.station:first-child {
  border-top: 1px solid #ddd;
}

.station {
  display: flex;
  height: 3rem;
  overflow: hidden;
  align-items: stretch;
  border-bottom: 1px solid #ddd;
}
.station .station--flag {
  height: 3rem;
  width: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.station .station--flag img {
  width: 2rem;
  border-radius: 1rem;
  height: 2rem;
}
.station .station--name {
  display: flex;
  justify-content: left;
  align-items: center;
  flex-grow: 4;
  padding-left: 1.5rem;
}
.station .station--amount {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 2;
}

.App {
  text-align: left;
  background: #F7F7F7;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
  padding: 1.5rem;
  padding-top: 5rem;
}

.container {
  background: white;
  border-radius: 0.5rem;
  box-shadow: 0 0 1rem 1rem #2221;
  padding: 1.5rem;
}

@media (min-width: 768px) {
  .container {
    padding: 1rem 5rem 3rem;
  }
}
/*
sass --watch 'I:\Proyectos\Proy. Laborales\Proy. Web Design\Pruebas tecnicas\technisys\cotizar-monedas\src\css\main.scss' 'I:\Proyectos\Proy. Laborales\Proy. Web Design\Pruebas tecnicas\technisys\cotizar-monedas\src\css\main.css'
*/

/*# sourceMappingURL=main.css.map */
